main{
    margin:40px;
    margin-top:150px;
    border: 8px dashed rgb(255, 12, 12);
}
.error-code{
    font-size: 150px;
    text-align: center;
    font-weight:bolder;
}
.not-working{
    text-align: center;
    color:rgb(31, 133, 218);
    font-size: 40px;
}